# macOS
.DS_Store

# Python cache
__pycache__/
*.py[cod]

# Jupyter checkpoints (optionnel)
.ipynb_checkpoints/

# Fichiers de ressources de métadonnées Apple
._*

# ------------------------------------
# RÈGLES SPÉCIFIQUES AU DOSSIER DATA
# ------------------------------------

# 1. Ignorer l'intégralité du dossier 'data/raw' et 'data/extracted'
data/raw/*
data/extracted/*

checkpoints/*

logs/*

# 2. Ré-inclure (excepter) le fichier .placeholder de raw
!data/raw/.placeholder

